body{
    /* margin: 0;
    padding: 0; */
    width: 1600px;
    height: 7335px;
    background: #FFF;
}
/* header style start  */
.banner{
    width: 1350px;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 230px 0px 230px;
}
.new-year-wish{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
   
}
.header-title{
    color: #FFF;
    text-align: center;
    width: 632px;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 

}
/* header style end  */

/* offer section style start */

.offer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.offer-title{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px; 
}
.offer-type{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;

}
.offer-category{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}
.new-year-img img{
    width: 803px;
    height: 500px;
}
/* offer section style end  */

/* party section style start  */
.party{
    width: 1350px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    margin: 120px 230px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.party-content{
    margin-right: 120px;
}
.party-img{
    width: 318px;
}
.party-title{
    width: 642px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    padding-left: 125px;

}
.party-details{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    padding-left: 125px;

}
.button button{
    color: #FFF;
    background: none;
    border: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 155px;
    padding-top: 48px;
    

}
.party-img img{
    display: flex;
    height: 465px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 68px 100px 67px 0px;

}
/* party section style end  */


/* event-details section style start  */

.event-content{
    width: 1350px;
    height: 600px; 
    background: rgba(248, 218, 218, 0.685);
    background: linear-gradient(183deg,rgba(248, 195, 195, 0.685) 0%, #f3ece9 80%); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 120px 230px 0px 230px;
}
.event-details ,span{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.place{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.date{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.time{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}
.btn button{
    background-color: #F00;
    border-radius: 8px;
    border: 0;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 64px;
}
 /* button:hover{
    background-color: white;
    color: blue;
    border-radius: 8px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    
  
} */
/* event-details section style end  */

/* best-offer section style start */
.best-offer{
    width: 1350px;
    height: auto; 
    background: #FFF;
    margin: 120px 230px 0px 230px;

}
.best-offer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.offer-container1{
    max-width: 392px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.container-caption{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px; 
    font-weight: 500;

}
.coming-soon{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}
.best-offer-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 22px;
}
.best-offer-border{
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-right: 40px;
}
.best-offer-img{
    background: url('resources/Ellipse\ 1.png'), lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    width: 364px;
    height: 364px;
    border-radius: 364px;
    margin: 49px;
}
.offer-container2{
    max-width: 276px;
    display: flex;
    justify-content: center;
    flex-direction: column;
   

}
.container-title{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.container-paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.happy-img{
    width: 140px;
    height: 140px;
}
/* best-offer section style end */

/* holiday-sale section style start  */
.holiday-sale{
    width: 1350px;
    height: auto; 
    background: #FFF;
    margin: 120px 230px 0px 230px;

}

.holiday-caption{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}
.holiday-sale-title{
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;

}
.holiday-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 65px;

}


.sale{
    color: #F00;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}
.holiday-sale-details{
    width: 1068px;
    height: 96px;
    margin: 28px 126px 64px 126px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; 
}
.right-img{
    width: 429px;
    height: 433px;
    background-image: url('resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    float: right;
    justify-content: center;
    margin-top: 250px;
   
}
.fifty{
    width: 220.048px;
    height: 220.119px;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
    /* margin: 60px 286px 65px 0px; */
    
    
}
.fifty img{
    width: 206.841px;
    height: 206.841px;

}
.bottom-border{
    width: 1320px;
    height: 229px;
    background-image: url('resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    border-radius: 16px 0px 16px 16px;
   
}



/* holiday-sale style end  */

/* gifts section style start  */
.best-gift{
    width: 1350px;
    height: auto; 
    background: #FFF;
    margin: 120px 230px 0px 230px;

}
 /* .gift-content-one{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

} */
.gift-caption{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.gift-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;

}
.gift-details{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.gift-content-two{
    display: flex;
    flex-direction: row;

    
} 
.gift-content-two img{
    display: flex;
    width: 424px;
    height: 450px;
    border-radius: 16px;
    margin:48px 24px 0px 24px;

    
}
.gift-content-two img:hover{
    border: 2px solid gray;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.267);

}
/* .gift-images{
    margin-top: 48px;
}
.gift-images img{
    width: 424px;
    height: 450px;
    border-radius: 16px;

}  */

/* gifts section style end  */


/* newsletter section style start */
.newsletter{
    width: 1350px;
    height: 600px; 
    background: rgba(240, 195, 195, 0.74);
    background: linear-gradient(183deg,rgba(240, 195, 195, 0.74) 0%, #f3ece9 80%);
    margin: 120px 230px 0px 230px;
}
.newsletter-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.email-icon img{
    width: 150px;
    height: 150px;
    margin-top: 80px;

}
.newsletter-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
}
.newsletter-details{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 32px;  

}
.subscription-bar input{
    width: 438px;
    height: 72px;
    background: #FFF;
    border-radius: 50px 0px 0px 50px;
    border: none;
    margin: 0px 48px 80px 0px;

}
 input[type="text"]{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;  
    font-weight: 400;
    margin: 25px 300px 25px 30px;
}
 .subscribe{
    width: 210px;
    height: 72px;
    background: #F00;
    border-radius: 0px 50px 50px 0px;
    border: none;
    margin: 25px 300px 25px 30px;

  
}
#subscribe-tex{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 56px;

}

/* footer section style start  */
.footer{
    width: 1600;
    height: 609;
    background: #070211;
    margin-top: 120px;
}
.footer-content{
    display: flex;
    gap: 570px;
    padding: 120px 140px 0px 140px;
  
}
.address p{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;     

}
.contact{
    display: inline;
}

.contact p{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    
}
.contact img{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
hr{
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.icons{
   display: flex; 
   justify-content: center;  
}
.icon{
    margin: 48px 24px;
}
.icon img{
    width: 64px;
    height: 64px;
}
.bottom-info{
    display: flex;
    gap: 880px;
    padding: 50px 140px 120px 140px;
}
.info-left{
    width: 295px; 
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.info-right{
    width: 145px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
/* footer section style end  */
